menu "torabo-tsuki LP"

config ZMK_INPUT_PROCESSOR_THRESHOLD_TEMP_LAYER
    bool "Threshold temporary layer input processor"
    default y
    depends on ZMK_POINTING
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_THRESHOLD_TEMP_LAYER_ENABLED
    depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL

endmenu
